@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.accordion {
    border: 1.5px solid v.$borderColor;
    width: 100%;
    background: none;
    padding: 1rem;



    .question {
        @include m.flex(row, flex-start, center);
        font-weight: 600;
        font-size: 1.15rem;
        gap: 0.5rem;

        .icon {
            transition: transform 0.2s ease-in-out;
        }

        .icon-active {
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;
        }
    }

    .panel {
        height: 0; 
        overflow: hidden; 
        transition: height 0.5s ease-out;
    
        .wrapper {
            padding: 2rem 0 1rem 2rem; 
            opacity: 0; 
            transition: opacity 0.3s ease-out;
        }
    
        &.open {
            height: auto;
            .wrapper {
                opacity: 1;
            }
        }
    }
    
}

