@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.wrapper-lower {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper-lower-content {
        padding: 4rem 2rem;
        max-width: 1200px;
        width: 100%;
    }
}

@media (min-width: 767px) {

    .wrapper-lower {
    .wrapper-lower-content {
        border-left: 1px solid v.$borderColor;
        border-right: 1px solid v.$borderColor; 
        padding: 4rem 4rem;
        
    }
}
}