@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.test {
    @include m.flex(row, space-evenly, center);
    flex-wrap: wrap;
    gap: 2rem;

    .project-card {
        @include m.flex(column, center, center);
        border: 1px solid v.$borderColor;
        padding: 1rem;
        gap: 2rem;
        border-radius: 16px;

        .project-card-upper {
            @include m.flex(column, center, flex-start);
            gap: 1rem;

            .project-card-title {
                font-size: 1.25rem;
                font-weight: 700;
            }

            .project-card-text {
                font-size: 0.9rem;
            }
        }

        .project-card-lower {
            width: 100%;
            @include m.flex(column, center, center);
            gap: 2rem;

            .stack-container {
                @include m.flex(row, space-between, center);
                flex-wrap: wrap;
                gap: 1rem;
                width: 100%;

                p {
                    font-size: 0.9rem;
                    font-weight: 600;
                    width: 45%;
                }

                img {
                    width: 2rem;
                }
            }

            .see-more {
                width: 100%;
                text-align: center;
                border: 1px solid gray;
                padding: 0.5rem;
                font-weight: 600;
                background-color: v.$borderColor;
                border-radius: 16px;
            }
        }
    }
}

@media (min-width: 767px) {

    .test {
        gap: 4rem;
        .project-card {
            @include m.flex(row, space-between, center);
            flex-wrap: wrap;
            width: 42.5%;
            align-self: stretch;
            padding: 2rem;
            transition: transform .5s; 


            .project-card-upper {
                align-self: flex-start;
            }

            .project-card-lower {
                align-self: flex-end;
                

                .stack-container {
                    @include m.flex(row, space-between, center);
                    flex-wrap: nowrap;
                    width: 100%;
                    gap: 2rem;

                    img {
                        width: 2.5rem;
                    }
                    
                }
            }
        }
    }
}

@media (min-width: 1023px) {
    .test {
    .project-card {
        
        .project-card-upper {
            .project-card-text {
                font-size: 1rem;
            }
        }

        .project-card-lower {
            .stack-container {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
}

 .project-card:hover {
     transform: scale(1.03);
 }