@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.test {
    @include m.flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 2rem;

    .project-card {
        @include m.flex(column, center, center);
        border: 1px solid v.$borderColor;
        // padding: 1rem;
        gap: 2rem;
        // border-radius: 16px;

        .project-card-upper {
            @include m.flex(column, center, flex-start);
            gap: 1rem;
            padding: 1rem 1rem 0 1rem;

            .project-card-title {
                font-size: 1.25rem;
                font-weight: 700;
            }

            .project-card-text {
                font-size: 0.9rem;
            }
        }

        .project-card-lower {
            width: 100%;
            @include m.flex(column, center, center);
            gap: 2rem;
            padding: 0 1rem;

            .stack-container {
                @include m.flex(row, space-between, center);
                flex-wrap: wrap;
                gap: 1rem;
                width: 100%;

                p {
                    font-size: 0.9rem;
                    font-weight: 600;
                    width: 45%;
                }

                img {
                    width: 2rem;
                }
            }
        }

        .see-more {
            width: 100%;
            text-align: center;
            border-top: 1px solid v.$borderColor;
            padding: 0.75rem;
            font-weight: 600;
            // background-color: v.$borderColor;
            // border-radius: 16px;
        }
    }
}

@media (min-width: 767px) {

    .test {
        .project-card {
            @include m.flex(row, space-between, center);
            flex-wrap: wrap;
            width: 47%;
            align-self: stretch;
            transition: transform .5s; 


            .project-card-upper {
                align-self: flex-start;
                padding: 2rem 2rem 0 2rem;
            }

            .project-card-lower {
                align-self: flex-end;
                padding: 0 2rem;


                .stack-container {
                    @include m.flex(row, space-between, center);
                    flex-wrap: nowrap;
                    width: 100%;
                    gap: 2rem;

                    img {
                        width: 2.5rem;
                    }
                }
            }
        }

        .project-card:hover {
            transform: scale(1.03);
        }
    }
}

@media (min-width: 1023px) {
    .test {
        gap: 3rem;
    .project-card {
        width: 47%;
        .project-card-upper {
            .project-card-text {
                font-size: 1rem;
            }
        }

        .project-card-lower {
            .stack-container {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
}

 