@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.section-header-container {

    .section-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .section-subheader {
        font-size: 1rem;
        font-weight: 400;
        color: v.$secondaryTextColor;
    }

    .section-bigger-subheader {
        font-size: 1.5rem;
        font-weight: 700;
        color: v.$secondaryTextColor;
    }
}


@media (min-width: 767px) {
    .section-header-container {
        // text-align: center;

        .section-title {
            font-size: 2rem;
            font-weight: 700;
        }
    
        .section-subheader {
            font-size: 1.5rem;
            font-weight: 400;
            color: v.$secondaryTextColor;
        }
    
        .section-bigger-subheader {
            font-size: 2rem;
            font-weight: 700;
            color: v.$secondaryTextColor;
        }
    } 
}