.wrapper-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    .wrapper-upper-content {
        padding: 2rem;
        max-width: 1200px;
        width: 100%;
    }
}

@media (min-width: 767px) {

    .wrapper-upper {

        .wrapper-upper-content {
            padding: 4rem;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
        }

    }
}